{% extends "base.html" %}

{% block header %}New Script{% endblock %}
{% block menu_script_new %}active{% endblock %}

{% block content %}
<form action="{% url 'script_new' %}" method="POST">{% csrf_token %}
    {{ formset.management_form }}
    <input type="submit" value="Save script and add new" name="save_and_add"  class="right" />
    <input type="submit" value="Save script" name="save_and_quit" class="right" />
    
    <section class="line grid2">
	    <aside class="mod">
	        <h3>1. Script details</h3>
	        <ul class="unstyled">
                {{ form.as_ul }}
	        </ul>
	    </aside>
	    
	    <aside class="mod">
	        <h3>2. Script Parameters</h3>
	        {% for param_form in formset %}
	           <ul class="parameter unstyled pa1">
	               <li class="right">
	                   {{ param_form.DELETE }}
	                   <button class="delete_param">Delete</button>
	               </li>
	               {% with param_form.name as field %}
	                   <li>{% include "utils/form_field.html" %}</li>
	               {% endwith %}
	               {% with param_form.label as field %}
	                   <li>{% include "utils/form_field.html" %}</li>
	               {% endwith %}
	               {% with param_form.param_type as field %}
	                   <li>{% include "utils/form_field.html" %}</li>
	               {% endwith %}
	               {% with param_form.file_type as field %}
	                   <li>{% include "utils/form_field.html" %}</li>
	               {% endwith %}
	               {% with param_form.param_io as field %}
	                   <li>{% include "utils/form_field.html" %}</li>
	               {% endwith %}
	               {% with param_form.is_required as field %}
	                   <li>{% include "utils/form_field.html" %}</li>
	               {% endwith %}
	           </ul>
	        {% endfor %}
	        <a href="#" id="add_more" class="add">Add parameter</a>
	    </aside>
    </section>

</form>
{% endblock %}
