{% extends "base.html" %}

{% block header %}New Script{% endblock %}
{% block menu_script_new %}active{% endblock %}

{% block content %}
<form action="{% url 'script_new' %}" method="POST">{% csrf_token %}
    {{ formset.management_form }}
    <input type="submit" value="Save script and add new" name="save_and_add"  class="right" />
    <input type="submit" value="Save script" name="save_and_quit" class="right" />
    
    <section class="line grid2">
	    <aside class="mod">
	        <h3>1. Script details</h3>
	        <ul class="unstyled">
                {{ form.as_ul }}
	        </ul>
	    </aside>
	    
	    <aside class="mod">
	        <h3>2. Script Parameters</h3>
	        {% for param_form in formset %}
	           <ul class="parameter unstyled pa1">
	               <li class="right">
	                   {{ param_form.DELETE }}
	                   <button class="delete_param">Delete</button>
	               </li>
	               {{ param_form.as_ul }}
	           </ul>
	        {% endfor %}
	        <input type="button" value="+" id="add_more">
	    </aside>
    </section>

</form>
{% endblock %}
